/* --- Card Style --- */
.card {
  will-change: transform;
  position: relative;
  background: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #e2e8f0;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.card:hover .language-name {
  color: var(--level-highlight-color);
  color:#818181;
}

/* Level Gradients */
.lang-level.Machine-Level {
  background: linear-gradient(135deg, #5a2020, #ff3b3b, #5a2020);
}
.lang-level.Low-Level {
  background: linear-gradient(135deg, #1e3a8a, #3b82f6, #1e3a8a);
}
.lang-level.Mid-Level {
  background: linear-gradient(135deg, #b45309, #fde047, #b45309);
}
.lang-level.High-Level {
  background: linear-gradient(135deg, #065f46, #34d399, #065f46);
}
.lang-level.Very-High-Level {
  background: linear-gradient(135deg, #6d28d9, #c084fc, #6d28d9);
}
.lang-level.Unknown {
  background: linear-gradient(135deg, #4b5563, #9ca3af, #4b5563);
}

/* Hover Borders */
.card.Machine-Level:hover {
  box-shadow: 0 10px 30px rgba(239, 68, 68, 0.35);
  border: 0.17rem solid #dc2626;
}
.card.Low-Level:hover {
  box-shadow: 0 10px 30px rgba(0, 98, 255, 0.4);
  border: 0.17rem solid #3b82f6;
}
.card.Mid-Level:hover {
  box-shadow: 0 10px 30px rgba(255, 183, 0, 0.4);
  border: 0.17rem solid #facc15;
}
.card.High-Level:hover {
  box-shadow: 0 10px 30px rgba(89, 241, 0, 0.35);
  border: 0.17rem solid #10b981;
}
.card.Very-High-Level:hover {
  box-shadow: 0 10px 30px rgba(168, 85, 247, 0.35);
  border: 0.17rem solid #a855f7;
}
.card.Unknown:hover {
  box-shadow: 0 10px 30px rgba(156, 163, 175, 0.35);
  border: 0.17rem solid #9ca3af;
}

/* Badge */
.lang-level {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* Logo & Name */
.language-logo {
  border-radius: 0.5rem;
  margin-bottom: 1rem ;
  display: flex;
  color: white;
  font-weight: 500;
}

.language-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1f2937;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Description */
.language-desc {
  color: #475569;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

/* Modal Overlay */
.language-modal-overlay {
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}

.modal-next-button:hover {
  color: red;
}
/* No universal transition */
.logo-animate {
  height: auto;
  animation: float 3s ease-in-out infinite; /* ชื่ออนิเมชัน, ระยะเวลา, รูปแบบการเคลื่อนไหว, วนซ้ำ */
}

@keyframes float {
  0% {
    transform: translateY(0px); /* เริ่มต้นที่ตำแหน่งปกติ */
  }
  50% {
    transform: translateY(-10px); /* เลื่อนขึ้น 20px (หรือตามต้องการ) */
  }
  100% {
    transform: translateY(0px); /* กลับมาตำแหน่งเดิม */
  }
}