---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
import '../styles/cards.css';
import '../styles/detail.css';
import '../styles/codeblock.css';

---

<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <title>ProLang Guide</title>
  </head>
  <body>

    <header class="gradient-bg">
      <h1 class="text-5xl">🚀 Programming Languages Guide 🌐</h1>
      <h2 class="text-2xl mt-6">เรียนรู้และเลือกภาษาโปรแกรมมิ่งที่เหมาะสมกับความต้องการของคุณ</h2>
    </header>

    <main>
        <slot />
    </main>

    <footer class="gradient-bg text-3xl">
      © 2025 ProLang นายทัศมา ภูลายยาว
    </footer>

  </body>
</html>