---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
import '../styles/cards.css';
import '../styles/detail.css';
import '../styles/codeblock.css';

const { count = 0 } = Astro.props;
---

<html lang="th">

  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../../public/logo/logo.png">
    <title>ProLang Guide</title>
  </head>

  <body class="">

    <header class="gradient-bg ">
      <img class="w-[200px] h-auto absolute top-4 left-4 z-50" src="logo/logo.png" loading="lazy" decoding="async"/>
      <h1 class="text-5xl">🚀 Programming Languages Guide 🌐</h1>
      <h2 class="text-2xl mt-6 text-black dark:text-white">เรียนรู้และเลือกภาษาทางคอมพิวเตอร์ที่เหมาะสมกับความต้องการของคุณ</h2>
      <p class="text-2xl mt-6 text-blue-200">
          ทั้งหมด <strong>{count}</strong> ภาษา
      </p>
    </header>

    <main>
        <slot />
    </main>

    <footer class="gradient-bg text-3xl">
      © 2025 ProLang นายทัศมา ภูลายยาว & นายวรวุฒิ สุขสกุล
    </footer>

  </body>

</html>