---
// src/layouts/BaseLayout.astro
const { WebLang } = Astro.props;
import '../assets/global.css';
import '../assets/cards.css';
import '../assets/detail.css';
import '../assets/codeblock.css';

---

<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <title>ProLang Guide</title>
  </head>
  <body>

    <header class="gradient-bg">
      <h1>🚀 Programming Languages Guide 🌐</h1>
      <h2>เรียนรู้และเลือกภาษาโปรแกรมมิ่งที่เหมาะสมกับความต้องการของคุณ</h2>
    </header>

    <main>
        <slot />
    </main>

    <footer class="gradient-bg">
      © 2025 ProLang
    </footer>

  </body>
</html>